{
    "env": {
        "browser": false,
        "node": true,
        "es6": true
    },
    "rules": {
        // "new-cap": [2],
        // "no-multi-spaces": [0],
        // "no-spaced-func": [0],
        // "no-multiple-empty-lines": [2],
        // "no-trailing-spaces": [2],
        // "max-statements": [2, 35],
        // "complexity": [2, 8]
    }
}